body{
    background-color: #101820FF;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size: clamp( 2rem, 2vw, 8rem);

}

.home{
    height: 100vh;
}

nav ul{
   display: flex;
   justify-content: end;
   margin: 2%;
 
}

nav li{
    list-style: none;
    padding: 2%;
}

nav a{
    color:white;
    text-decoration: none;
    font-size: clamp( 1.5rem, 1.5vw, 8rem);
}


li::after{
    content:'';
    width:0;
    height: 1px;
    background-color:white;
    display: block;
    transition: width 0.5s ease-in-out;
  }

  li:hover{
    cursor: pointer;
    
   }

  li:hover::after{
        width:100%;
}

.intro{
   margin:5%;
   
   
}

.intro a{
    text-decoration: none;
    color:#F2AA4CFF;
    
  
    
}

/*.intro a::after{
    content:'';
    width:0;
    height:2px;
    background-color: #F2AA4CFF;
    display: block;
    transition:width 0.5s ease-in-out;
}*/


.intro a:hover{
    cursor: pointer;
    color:#101820FF;
    -webkit-text-stroke: 0.8px #F2AA4CFF ;
  
}

.name{
    width:0ch;
    white-space: nowrap;
    overflow: hidden;
    border-right:1px solid white;
    animation:name 5s steps(25) ;
    animation-fill-mode: forwards;
}

.front-end{
    width:0ch;
    white-space: nowrap;
    overflow: hidden;
   
    animation:front-end 5s steps(34) ;
    animation-fill-mode: forwards;
   animation-delay:3s
}
@keyframes name{
    0%{
        width:0ch;
       
    }
    50%{
        width:25ch;
        }

  100%{
    width:25ch;
    border-right: 0px;
  }
}

@keyframes front-end{
    0%{
        width:0ch;
       
    }
    50%{
        width:34ch;
       
        }
    100%{
    width:34ch;
   
   
  }
}

.contact{
    width:0ch;
    white-space: nowrap;
    overflow: hidden;
    animation:contact 5s steps(38) ;
    animation-fill-mode: forwards;
    animation-delay:5.8s
}

@keyframes contact{
    0%{
        width:0ch;
       
    }
    50%{
        width:40ch;
       
        }
    100%{
    width:40ch;
   
   
  }
}

