body{
    margin:0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(night-sky-2.jpg);
   /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
   /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  /* background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);*/
 
  font-family: 'Courier New', Courier, monospace;
    color:white;
   background-size: cover;
   background-position: center;

    font-size: clamp( 2rem, 2vw, 8rem);

}

.preload{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh; 
    background-color: black;
    z-index: 100;
    opacity: 1;
    transition: opacity 3s ease
  }


.preload-finish{
   
    opacity: 0;
    pointer-events: none;
}

.preloader-image{
    width:30%;
    position: absolute;
    left:35%;
    top:20%;
   
    animation:  fade-in  3s ease-in forwards
   
}

@keyframes fade-in {
    from {
        opacity:1
    }
    to{
        opacity: 0;
    }
    
}


#particles-js{
   
    position: relative;
    height: 100vh;
}



.home{
    width:100%;
    position: absolute;
  
   
    
}

nav ul{
   display: flex;
   justify-content: end;
   margin: 2%;
 
}

nav li{
    list-style: none;
    padding: 2%;
}

nav a{
    color:#f6f6e9;
    font-weight: bold;
    text-decoration: none;
    font-size: clamp( 1.5rem, 1.5vw, 8rem);
}


nav li::after{
    content:'';
    width:0;
    height: 1px;
    background-color:white;
    display: block;
    transition: width 0.5s ease-in-out;
  }

  li:hover{
    cursor: pointer;
    
   }

  li:hover::after{
        width:100%;
}

.intro{
  
   margin-left: 5%;
   
 
}

.intro li a{
    text-decoration: none;
    color:#F2AA4CFF;
    
  
    
}

/*.intro a::after{
    content:'';
    width:0;
    height:2px;
    background-color: #F2AA4CFF;
    display: block;
    transition:width 0.5s ease-in-out;
}*/


.intro li a:hover{
    cursor: pointer;
    color:#F2AA4CFF;
    -webkit-text-stroke: 0.1px white ;
  
}
.animation-common{
    width:0ch;
    white-space: nowrap;
    overflow: hidden;
   /* border-right:1px solid white;*/
  
}

.name{
    
    animation:name 3s steps(25) ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
   
}

.front-end{
   
   
    animation:front-end 3s steps(34) ;
    animation-fill-mode: forwards;
   animation-delay:2.4s
}
@keyframes name{
    0%{
        width:0ch;
       
    }
    50%{
        width:25ch;
        }

  100%{
    width:25ch;
    border-right: 0px;
  }
}

@keyframes front-end{
    0%{
        width:0ch;
       
    }
    50%{
        width:34ch;
       
        }
    100%{
    width:34ch;
   
   
  }
}

.contact{
   
    animation:contact 3s steps(38) ;
    animation-fill-mode: forwards;
    animation-delay:4s
}

@keyframes contact{
    0%{
        width:0ch;
       
    }
    50%{
        width:40ch;
       
        }
    100%{
    width:40ch;
   
   
  }
}

/*@media only screen and (max-width: 760px) {
    .intro{
       top:50%;

    }
  }*/





